<div class="page">
  <div class="card">
    <h1>DigitalFix</h1>

    <p class="subtitle">
      Plataforma de gestión de órdenes de trabajo
    </p>

    @if (!isLoggedIn()) {
      <button class="primary-button" (click)="login()">
        Iniciar sesión con Microsoft
      </button>
    }

    @if (isLoggedIn()) {
      <div class="session-box">
        <p>
          Sesión iniciada como:
        </p>

        <strong>{{ username() }}</strong>

        <button class="secondary-button" (click)="logout()">
          Cerrar sesión
        </button>
      </div>
    }

    <router-outlet></router-outlet>
  </div>
</div>